.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(209, 208, 212);
  z-index: 100;
}

.left-section {
  display: flex;
  flex-direction: row;
  width: 150px;
  align-items: center;
}
.left-section img{
  cursor: pointer;
}
.menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;


}

.youtube-logo {
  height: 20px;

}

.header button{
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  flex: 1;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}
.searchbar{
  width: 0;
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  position: relative;
}
.search-button,
.voice-button,
.upload-container,
.apps-container,
.notification-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar::placeholder{
  font-size: 16px;

}
.search-button{

  height: 36px;
  width: 66px;
  background-color: rgb(241, 242, 241);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 189, 189);
  margin-left: -1px;
  margin-right: 10px;
  transition: background-color .15s, opacity .15s;
}
.search-button:hover{
background-color: rgb(201, 205, 200);
}
.search-button:active{
  opacity: 0.8;
}
.search-button .tooltip,
.voice-button .tooltip,
.upload-container .tooltip,
.apps-container .tooltip,
.notification-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity .15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notification-container:hover .tooltip{
  opacity: 1;
}
.search-icon{
  height: 25px;

}
.voice-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245)
}
.voice-search-icon{

height: 25px;
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}
.right-section img{
  cursor: pointer;
}
.upload-icon{
  height: 24px;
}
.apps-icon{
height: 24px;
}
.notification-container{
  position: relative;
}
.notification-count{
  position: absolute;
  top: -2px;
  right: -6px;
  background-color: rgb(200,0,0);
  color: white;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 50%;
  font-weight: 500px;
  cursor: pointer;
}
.notifications-icon{
height: 24px;
}
.current-user-pic{
height: 32px;
border-radius: 16px;
}
