.video-title-link{
  text-decoration: none;
  color: black;
}
.profile-container{
  position: relative;
  display: inline-block;
}
.profile-container:hover .channel-tooltip{
  opacity: 1;
}
.channel-tooltip{
  width: 200px;
  padding: 12px 12px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
  border-radius: 6px;
  position: absolute;
  top: 55px;
  z-index: 300;
  opacity: 0;
  pointer-events: none;
  display flex;
  align-items: center;
  transition: opacity 0.15s;

  background-color: white;
}
.channel-tooltip-name{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}
.channel-tooltip-stats{
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.channel-tooltip-pic{
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 50%;
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
}
.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}
.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 18px;
  font-weight: 500px;
  padding: 4px;
  border-radius: 2px;

}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}


.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 750px) {
.video-grid{
  grid-template-columns: 1fr 1fr;
}

}

@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.thumbnail{
  width: 100%;

}
@media (min-width: 1000px){
  .Title{
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1000px){
  .Author,
  .Stats{
    font-size: 14px;
  }
}
.Title{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.Author{
  margin-bottom: 4px;
}
.Author,
.Stats{
  font-size: 12px;
  color: rgb(96,96,96);
  display: block;

}
